<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IMS.App.Properties.Settings.POS_ETLConnectionString"
        connectionString="Data Source=DESKTOP-0NA3O6D\SQLEXPRESS;Initial Catalog=POS_ETL;User ID=sa;Password=Labadmin@atikg"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>